
<div class=" container ">
  <button class="btn color mt-2 mx-4 text-white"  (click)="addNewGroup()">ADD NEW GROUP</button>
  <div class="row  mt-1 mx-4 bg-white p-2" style="border-radius: 3px;" *ngIf="addNewGroupValue == true">
    <div class="col-md-6 mt-2">
      <label> Group Name</label>
      <input type="text" [(ngModel)]="model.groupName" name="group" class="form-control form-control-sm mt-1">
    </div>
    <div class="col-md-6 mt-4 ">
      <button class="btn btn-warning btn-sm float-end text-white" (click)="cancel()">Cancel</button>
      <button class="btn color btn-sm float-end text-white"  (click)="createParentGroup()">Add</button>
    </div>
  </div>
</div>
<div  class="container">
  <app-child [data]="groupData"></app-child>
</div>

<router-outlet></router-outlet>